<img width="300" alt="Mapunto Logo" src="assets/img/mapunto-icon.png">
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Mapunto</h1>
    <p class="lead">¿Quieres practicar tu deporte favorito pero nunca encuentras a nadie? Introduce el deporte que practicas,
      tu ciudad y.. ¡a practicar!</p>
    <form class="form-inline my-2 my-lg-0 search">
      <input class="form-control mr-sm-2" type="search" placeholder="¿Qué te gusta practicar?" aria-label="Search">
      <input class="form-control mr-sm-2" type="search" placeholder="¿Donde?" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
    </form>
  </div>
</div>
