<div class="col-md-12">
    <h3>{{title}}</h3>

    <div class="identity-alert alert alert-success" *ngIf="token">
        ¡Te has identificado correctamente!
    </div>
    <div class="identity-alert alert alert-danger" *ngIf="error">
        ¡No te has identificado correctamente!
    </div>

    <form #loginForm="ngForm" (ngSubmit)="onSubmit()" class="col-md-5 no-padding">
        <p>
            <label>Username:</label>
            <input type="text" class="form-control" name="username" #username="ngModel" [(ngModel)]="user.username" required>
            <span *ngIf="!username.valid && username.touched">Username no válido</span>
        </p>
        <p>
            <label>Password:</label>
            <input type="password" class="form-control" name="password" #password="ngModel"[(ngModel)]="user.password" required>
            <span *ngIf="!password.valid && password.touched">Contraseña no válida</span>
        </p>
        <input type="submit" value="Entrar" class="btn btn-primary" [disabled]="!loginForm.valid"/>
    </form>
</div>