/.web-server-pid
/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
/var/cache/*
/var/logs/*
/var/sessions/*
/var/jwt/*
!/var/cache
!var/cache/.gitkeep
!/var/logs
!var/logs/.gitkeep
!var/sessions/.gitkeep
!var/jwt/.gitkeep
!/var/sessions
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
.idea